<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:700italic,400italic,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    
    <title>
    {% block title %}
    study progress
    {% endblock title %}
    </title>
    
    <style type="text/css">
        @import url("{{ STATIC_URL }}progress.css");
    </style>
    
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    
    <script>
            
        $(document).ready(function(){
            var calcPercent = function( ){
                one_page = 100 / $(":selected").first().val();
                percent = one_page * $("#page_at").val();
                percent = percent.toFixed(2);
                if (percent > 100) {
                    percent = 100;
                }
                $("#done").css("width", percent+"%");
                $("#bar").show();
                $("#percent").html("that's <span class='percent'>" + percent + " %</span> of that book.");
            };
            
            $("#page_at, #book").change(calcPercent);
            $("#go").click(calcPercent);
        });
    </script>
</head>

<body>
    <div id="content_box">
        <h1>progress</h1>
        <p>
                <input placeholder="current page" id="page_at" name="page"></input>
                <select id="book">
                {% for book in books %}
                    <option id={{ book.id }} value="{{ book.page_count }}">
                        {{ book.title }}
                    </option>
                {% endfor %}
                </select>
                <button id="go">go</button>
        <div id="bar"><div id="done"></div></div>
        </p>
        <p id = "percent">
        </p>
    </div>
</body>
</html>